header {
background: rgb(94, 27, 166);
background: linear-gradient(333deg, rgb(89, 23, 159) 30%, rgb(152, 7, 87) 100%);
   width: 100%;
   overflow: hidden;
}

.top-menu__link {
   position: relative;
   &::after {
      content: '';
      width: 0%;
      height: 1px;
      background-color: #fff;
      position: absolute;
      top: 32px;
      left: 10px;
      transition: width 0.4s ease-in-out;
   }

   &:focus:after,
   &:hover:after {
      width: 88%;
   }
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;

   &__logo-title {
      max-width: 200px;
      font-size: .95rem;
      font-weight: 700;
      margin-left: 15px;
      color: #fff;
      line-height: 20px;
      position: relative;

      img {
         width: 100px;
      }

      span {
         font-weight: 700;
         color: $twitter;
      }
   }
   &__top-menu {
      
      height: 20px;
      width: 100%;
      color: #fff;
   }
   &__top-menu-list {
      display: flex;
      justify-content: flex-end;
      max-width: 1160px;
      padding: 0 10px;
      margin: 0 auto;
   }
   &__top-menu-list li a {
      color: #fff;
      display: inline-block;
      margin-left: 10px;
      font-size: 0.9rem;
      padding: 10px;
      
   }
   &__social-title {
      color: #fff;
      font-size: 1rem;
      span {
         font-size: 1.1rem;
      }
   }
   
   &__logo {
      padding: 10px 0;
      display: flex;
      align-items: center;
      display: flex;
   }

   &__phone {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }
   &__phone-mobile {
      display: none;
   }
   &__phone-link {
      display: inline-block;
      color: #fff;
      font-size: 1.3rem;
      position: relative;
      padding: 5px 10px;
      transition: 0.1s ease-in-out;
      text-align: center;

      & svg {
         margin-right: 10px;
      }

      &:hover {
         background: rgba(256, 256, 256, .1);

         border-radius: 20px;
         transition: 0.1s ease-in-out;
      }

      &:hover svg {
         transition: 0.1s ease-in;
         fill: $twitter;
      }
   }

   &__radius {
      width: 100%;
      height: 25px;
      margin-top: -15px;
      border-radius: 30px 30px 0 0;
      z-index: 10;
      background-color: #fff;
      box-shadow: 0 -10px -10px -10px #000;
   }

   &__btn-link {
      margin-top: 3px;
      width: 231px;
      height: 44px;
      line-height: 34px;
      position: relative;
      display: block;
      color: #fff;
      margin-right: 3px;
      span {
         position: absolute;
         font-size: 0.9rem;
         font-weight: 700;
         left: 68px;
         top: 3px;
      }

      svg {
         position: relative;
         height: 100%;
         top: 6px;
         left: 55px;  
         transform: scale(1.2);
         overflow: hidden;
      }

      path {
         stroke-width: 2;
         stroke: $bluetext;
         fill: none;
         stroke-dasharray: 340;
         transition: 0.1s ease-in-out;
         overflow: hidden;
      }

      &:hover path {
         animation: dash 2s reverse cubic-bezier(.45, .03, .51, .95) 0s infinite;
         -webkit-animation-fill-mode: forwards;
         animation-fill-mode: forwards;
      }

      @keyframes dash {
         100% {
            fill: transparent;
            stroke: violet;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-dashoffset: 600;
            stroke-dasharray: 600 0;
         }
      }
   }
   &__burger {
      display: none;
   }
}

.header__metro {
   color: #fff;
   line-height: 15px;
   position: relative;
   
   &::before {
      content: '';
      background-image: url(../img/icon/m.svg);
      width: 24px;
      height: 16px;
      position: absolute;
      left: -40px;
      top: 15px;
   }
   &::after {
      content: '';
      width: 53%;
      height: 1px;
      background-color: #fff;
      position: absolute;
      top: 32px;
      left: 2px;
      transition: width 0.4s ease-in-out;
   }

   &:focus:after,
   &:hover:after {
      width: 0%;
   }
   p {
      font-size: 0.9rem;
      line-height: 15px;

   }
}

.header__metro-text {
   font-size: 1.1rem;
   line-height: 5px;
}

.menu {
   &__mobile {
      display: none;
   }
   display: flex;
   background: rgba(0, 0, 0, .2);
   border-radius: 15px;
   color: #fff;
   margin-bottom: 25px;

   &__list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      // overflow: hidden;
   }

   &__item {
      border-radius: 10px;
      
      &:hover {
         background: rgba(256, 256, 256, .3);
         transition: 0.1s ease-in-out;
      }
   }

   &__link {
      color: #fff;
      display: inline-block;
      padding: 20px;
      white-space: nowrap;
      
   }

   &__link-add {
      position: relative;
   }

   &__title {
      padding-left: 30px;
      height: 100%;
      width: 180px;
      background-color: $bluetext;
      position: relative;
      border-radius: 15px 0 0 15px;

      p {
         cursor: pointer;
         width: 170px;
      }

      &::after {
         content: '';
         position: absolute;
         border: 34px solid transparent;
         border-left: 20px solid $bluetext;
         top: 0;
         right: -54px;

      }
   }

   &__add {
      display: none;
      position: absolute;
      background-color: #fff;
      border-radius: 10px;
      z-index: 30;
      box-shadow: 0 0 27px 0 rgba(56, 63, 68, .52);
      transition: 0.1s ease-in-out;
      top: 68px;
      left: 0;
      width: 150px;
   }

   &__add-iphone {
      width: 310px;
      
   }

   &__add-item a {
      color: $colortext;
      display: block;
      line-height: 18px;
      &::after {
         display: block;
         content: "";
         height: 1px;
         width:0%;
         background-color: $colortext;
         transition: width 0.2s ease-in-out;
      }
      &:focus:after,
      &:hover:after {
         width: 70%;
      }
   }

   &__add-item {
      padding: 10px;
      padding-left: 20px;
   }
}

.menu__link-add:hover>.menu__add {
   display: block;
}

.header__mobile {
   display: none;
}

.ham {
   cursor: pointer;
   -webkit-tap-highlight-color: transparent;
   transition: transform 400ms;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.hamRotate.active {
   transform: rotate(45deg);
}

.line {
   fill: none;
   transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
   stroke: #fff;
   stroke-width: 7.5;
   stroke-linecap: round;
}

.ham1 .top {
   stroke-dasharray: 40 139;
}

.ham1 .bottom {
   stroke-dasharray: 40 180;
}

.ham1.active .top {
   stroke-dashoffset: -98px;
}

.ham1.active .bottom {
   stroke-dashoffset: -138px;
}

.menu {
   transition: 5s ease-in-out;
}