.main-section {
  display: flex;
  justify-content: space-between;
}

.slider {
  max-width: 65%;
  min-width: 0;
  &__item {
    img {
      width: 100%;
    }
  }
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.service {
  display: flex;
  flex-direction: column;
  &__item {
    border: 3px solid $bordergray;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding: 5% 1%;
    &:hover .service__img {
      background-image: url(../img/icon/screen_hover.png);
    }
  }

  &__title {
    font-size: 1.7rem;
    font-weight: 700;
    color: $colortext;
    padding-left: 15px;
    margin-right: 45px;
    white-space: nowrap;
  }

  &__title span {
    font-size: 1.2rem;
    font-weight: 400;
  }

  &__img {
    margin-right: 10px;
    width: 70px;
    height: 70px;
    background-image: url(../img/icon/screen.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

