$bordergray: #f6f7f9;

$colortext: #2c2b3a;
$blacktext: #000;
$graytext: #757887;

$bluetext: #1f7adc;

$myblue: rgb(13, 120, 198);
$oldsiteblue: #0079ff;

$twitter: #1da1f2;


$mybluehover: rgb(8, 94, 155);