@import "vars";
@import "libs";
@import "fonts";
@import "main-section";
@import "select-device";
@import "header";
@import "model";
@import "price";
@import "promo";
@import "footer";
@import "slider";

html {
   box-sizing: border-box;
}

body {
   font-size: 16px;
   font-family: 'Museo Sans Cyrl';
   // border: 3px solid red;
   box-sizing: border-box;
}
ul,
li {
   padding: 0;
   margin: 0;
   list-style: none;
}

a {
   text-decoration: none;
}

.container {
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 10px;
}

@import "media";